i {
  color: red;
  cursor: pointer;
}

a.nav-link {
  margin-left: 25px;
}

#show {
  padding: 6px !important;
  box-shadow: 1px 1px 1px 1px #888888 !important;
}

body {
  font-family: cursive;
}

li {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: none;
  font-family: cursive;
}

@media (max-width: 768px) {
  .card {
    width: 500px !important;
  }
}

@media (max-width: 600px) {
  .card {
    width: 400px !important;
  }
}

@media (max-width: 500px) {
  .card {
    width: 350px !important;
  }
}

@media (max-width: 400px) {
  .card {
    width: 320px !important;
  }
}

@media (max-width: 320px) {
  .card {
    width: 280px !important;
  }
}